<section class="page" id="{{content.slug}}">
{% if content.acf.video_src %}
  <video 
    style="width:100%;height:100%;"
    id="{{content.slug}}"
    src="{{content.acf.video_src}}"
    controls
  ></video>
{% endif %}
{% if content.acf.background_image %}
  <img class="attract-background" src="{{content.acf.background_image.url}}" style="width:100%;height:100%;">
{% endif %}
  <div class="overlay video">
    <div class="facts-overlay"></div>
    <div class="facts-container">
      <div class="slides">
      {% for fact in content.acf.facts %}
      <article class="fact{% if fact.image %} with-image{% endif %}">
        {% if fact.image %}
        <figure>
          <img src="{{fact.image.url}}">
        </figure>
        {% endif %}          
        {{ fact.text }}
      </article>
      {% endfor %}
      </div>
      <ul id="fact-nav"></ul>
    </div>
  </div>
</section>
  