<h1 class="logo jump-to-section" data-href="#app">
  <svg class="logo" viewBox="0 0 484 118">
    <use xlink:href="#logo" />
  </svg>
</h1>
<article class="brand-message">
  <h2>{{ content.acf.title }}</h2>
  <h3>{{ content.acf.brand_message }}</h3>
</article>
