{# <div class="subpage-header-container">
  <div class="breadcrumb"></div>
  <div class="subpage-description"></div>
</div> #}
<div class="page">

{% for subpage in content.acf.subpages %}
<section class="subpage" id="{{subpage.slug}}">
  <header class="subpage-header">
    <div class="breadcrumb">
     <h2>{{content.acf.title}}</h2>
     <h3>{{ subpage.title }}</h3>
    </div>
    <article class="subpage-description">{{ subpage.brand_message }}</article>
  </header>
  <main class="subpage-content">
  {% for layout in subpage.layout %}

  {% if layout.acf_fc_layout === 'slide_up_cards_3_columns' or layout.acf_fc_layout === 'slide_up_cards_4_columns' %}
    <div class="layout l-slide_up_cards{% if layout.acf_fc_layout === 'slide_up_cards_3_columns' %} three-columns{% elif layout.acf_fc_layout === 'slide_up_cards_4_columns' %} four-columns{% endif %}">
    {% for card in layout.card %}
    {% set counter  = ( counter | default(0) ) + 1 %}
    <article>
      <img 
        src="{% if card.image.url %}
              {% if layout.acf_fc_layout === 'slide_up_cards_3_columns' %}
              {{ card.image.sizes.3_cards_slide_up }}
              {% elif layout.acf_fc_layout === 'slide_up_cards_4_columns' %}
              {{ card.image.sizes.4_cards_slide_up }}
              {% endif %}
            {% elif layout.acf_fc_layout === 'slide_up_cards_3_columns' %}
            components/media/images/img.png
            {% elif layout.acf_fc_layout === 'slide_up_cards_4_columns' %}
            components/media/images/doctor-gloves-slim.png
            {% endif %}">
      <input class="slide-control slide-control--up" id="{{ card.title }}-{% if layout.acf_fc_layout === 'slide_up_cards_3_columns' %}three-columns{% elif layout.acf_fc_layout === 'slide_up_cards_4_columns' %}four-columns{% endif %}" type="checkbox">
      <div class="hidden-content hidden-content-{{ counter}}">
       <h2>
          <label data-slideable for="{{ card.title }}-{% if layout.acf_fc_layout === 'slide_up_cards_3_columns' %}three-columns{% elif layout.acf_fc_layout === 'slide_up_cards_4_columns' %}four-columns{% endif %}">{{ card.title }}
          <svg class="more" viewBox="0 0 48 48">
            <use xlink:href="#plus-sign" />
          </svg> 
          </label>
        </h2>
        <div class="scroll-container">
          <div class="text">{{ card.text }}</div>
        </div>
      </div> 
    </article>
    {% endfor %}
    </div>
  {% elif layout.acf_fc_layout === 'slide_left_cards' %}
    <div class="layout l-slide_left_cards">
    {% for card in layout.card %}
    <article>
      {# <input class="slide-control slide-control--left" id="{{ card.title }}-slide_left_cards" type="checkbox"> #}
      <h2 style="background: transparent url('{{ card.image_large.sizes.2_cards_slide_left_strip }}') no-repeat center center;background-size: cover;"><span>{{ card.title }}</span></h2>
      <div class="hidden-content">
        <div class="slide-control">+</div>
        <div class="to-reveal">
          <img src="{{ card.image_small.sizes.2_cards_slide_left_thumb }}">
          <div class="text">
            <h3>{{ card.title }}</h3>
            {{ card.text }}
          </div>
        </div>
      </div>
      
    </article>
    {% endfor %}
    </div>
  {% elif layout.acf_fc_layout === '9_box_grid' %}
    <div class="layout l-9_box_grid">
    {% for card in layout.box %}
    {% if loop.index0 <= 3 %}
    <article style="background: transparent url('{{ card.image.url }}') no-repeat center center;background-size: cover;">
      <input class="slide-control slide-control--box-grid" id="{{ card.title }}-box-grid" type="checkbox">
      <h2>
        <label class="box-grid-control-label" for="{{ card.title }}-box-grid">
          <span>{{ card.title }}</span>
          <svg class="plus-sign" viewBox="0 0 48 48">
            <use xlink:href="#plus-sign" />
          </svg> 
        </label>
      </h2>
      <div class="hidden-content">
        <div class="text">
          <h3>{{ card.title }}</h3>
          {{ card.text }}
        </div>
      </div>
    </article>
    {% endif %}
    {% endfor %}
    <article class="static">
      <h2>Customer</h2>
    </article>
    {% for card in layout.box %}
    {% if loop.index0 >= 4 %}
    <article style="background: transparent url('{{ card.image.url }}') no-repeat center center;background-size: cover;">
      <input class="slide-control slide-control--box-grid" id="{{ card.title }}-box-grid" type="checkbox">
      <h2>
        <label class="box-grid-control-label" for="{{ card.title }}-box-grid">
          <span>{{ card.title }}</span>
          <svg class="plus-sign" viewBox="0 0 48 48">
            <use xlink:href="#plus-sign" />
          </svg> 
        </label>
      </h2>
      <div class="hidden-content">
        <div class="text">
          <h3>{{ card.title }}</h3>
          {{ card.text }}
        </div>
      </div>
    </article>
    {% endif %}
    {% endfor %}
    </div>
  {% elif layout.acf_fc_layout === '4_card_grid' %}
    <div class="layout l-4_card_grid">
    {% for card in layout.card %}
    <article>
      <figure>
        <img src="{% if card.image.url  %}{{ card.image.url }}{% else %}components/media/images/Icon_3.png{% endif %}">
      </figure>
      <div class="text">
        <h2>{{ card.title }}</h2> 
        {{ card.text }}
      </div>
    </article>
    {% endfor %}
    </div>
  {% elif layout.acf_fc_layout === 'video' %}
    <div class="layout l-video">
      <div class="video-overlay">
      </div>
      <button class="play">
        <svg id="play-button" viewBox="0 0 432 432"><defs><style>.cls-play-button-1{fill:#00529b;}.cls-play-button-2,.cls-play-button-4,.cls-play-button-6{fill:#fff;}.cls-play-button-2{clip-rule:evenodd;}.cls-play-button-3{clip-path:url(#clip-path-play-button);}.cls-play-button-4{fill-rule:evenodd;}.cls-play-button-5{clip-path:url(#clip-path-play-button-2);}</style><clipPath id="clip-path-play-button"><circle class="cls-play-button-1" cx="216" cy="216" r="130.71"/></clipPath><clipPath id="clip-path-play-button-2"><polyline class="cls-play-button-2" points="299.46 212.61 174.32 284.86 174.32 140.35 299.46 212.61"/></clipPath></defs><title>Play_Button</title><g id="play_1" data-name="play_1"><circle class="cls-play-button-1" cx="216" cy="216" r="130.71"/><g class="cls-play-button-3"><rect class="cls-play-button-1" x="-1115.8" y="-1002.8" width="3840" height="2160"/></g><polyline class="cls-play-button-4" points="299.46 212.61 174.32 284.86 174.32 140.35 299.46 212.61"/><g class="cls-play-button-5"><rect class="cls-play-button-6" x="-1115.8" y="-1002.8" width="3840" height="2160"/></g></g></svg>
      </button>
      <video 
        style="width:100%;height:100%;"
        id="video-layout"
        src="{{layout.video}}"
        type="video/mp4"
        controls
      ></video>
    </div>
  {% elif layout.acf_fc_layout === 'wheel' %}
    <div class="layout l-wheel">
      <svg viewBox="0 0 864 864" id="wheel-svg"></svg>

    {% for card in layout.card %}
    <article>
      <div class="text">
        <h2>{{ card.title }}</h2> 
        {{ card.text }}
      </div>
    </article>
    {% endfor %}
    </div>
  {% elif layout.acf_fc_layout === 'accordion' %}
    <div class="layout accordion">
    {% for row in layout.row %}
    {% set row_counter  = ( row_counter | default(0) ) + 1 %}
      <article class="accordion-row">
        <input id="accordion-row__title-{{ row_counter}}" type="radio" name="tabs">
        <label for="accordion-row__title-{{ row_counter}}" class="accordion-row__title">{{ row.title }}</label>
        <div class="accordion-row__content">
         {{ row.text }}
        </div>
      </article>
    {% endfor %}
    </div>
  {% elif layout.acf_fc_layout === 'services_list_columns' %}
    <div class="layout l-services_list_columns">
    <div class="column section_description">
      <h2>{{ layout.section_title }}</h2>
      {{ layout.section_description }}
    </div>
    {% for column in layout.column %}
    <article class="column">
      <div class="text"> 
        {{ column.text }}
      </div>
    </article>
    {% endfor %}
    </div>
  
  {% endif %}

  {% endfor %}

  </main>
  
  <div class="featured-area">
    <img src="{{ subpage.featured_image.url }}">
  </div>
</section>
{% endfor %}

<div class="jump-nav next-section">
  <button class="jump-to-section previous" data-href='' disabled>
    <svg viewBox="0 0 140 100">
      <use xlink:href="#arrow-down" />
    </svg> 
  </button>
  <button class="jump-to-section next" data-href='' disabled>
    <svg viewBox="0 0 140 100">
      <use xlink:href="#arrow-down" />
    </svg>
  </button>
</div>

</div> 

