/*------------------------------------*  #A-COLORS
\*------------------------------------*/
/**
 *  _typography.scss
 *
 *
 */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.superscript {
  font-family: "Frutiger LT Std", serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 0.3125rem;
  vertical-align: super;
  word-wrap: break-word; }

/**
 * Themes
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #3b3b3b;
  font-family: "Frutiger LT Std", serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  overflow: hidden; }

html {
  font-size: 64px; }

html.theme-icu {
  background-color: #008ab0; }

html.theme-pharmacy-services {
  background-color: #00529B; }

html.theme-surgical-theater {
  background-color: #00746C; }

button {
  font-size: 1rem; }

@media (max-width: 1920px) {
  html {
    font-size: 16px; } }

::-webkit-scrollbar {
  display: none; }

* > svg,
.to-reveal div,
.to-reveal p,
.to-reveal img {
  pointer-events: none; }

.svg-templates {
  position: absolute;
  left: -9999999em; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.none {
  display: none; }

.show {
  opacity: 1; }

#header {
  position: fixed;
  width: 100vw;
  max-width: 100%;
  height: 2.96875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #005299;
  color: white;
  padding-left: 2.21875rem;
  padding-right: 2.21875rem;
  z-index: 8; }

.brand-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

#header h1 {
  font-size: 1.5625rem;
  line-height: 2.96875rem;
  display: flex;
  align-items: center;
  color: red;
  z-index: 10; }
  #header h1 svg.logo {
    fill: white;
    width: 7.5625rem; }

#header h2 {
  font-family: 'Rockwell MT', serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.125rem;
  line-height: 2.5rem;
  color: white;
  line-height: 2.96875rem;
  margin-right: 1.5625rem; }

#header h3 {
  font-family: 'Rockwell MT Light', serif;
  font-weight: 200;
  line-height: 2.96875rem; }

/*------------------------------------*  #ATTRACT STYLES
\*------------------------------------*/
.overlay.video,
.overlay {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 2.0625rem; }

/**
 * Fact cards with opacity
 *
 * Simple cycle functionality on attract page. 
 * To achieve crisp fonts with the skew transform and an opacity value
 * I used the after pseudo element with background-color and opacity
 * instead of hsl alpha
 */
.facts-overlay,
.facts-container {
  position: absolute;
  top: 11rem;
  left: 12.3%;
  width: 29.09375rem;
  height: 12.03125rem; }

.slides {
  width: 29.09375rem;
  height: 12.03125rem; }

/**
 * themify mixin for bg color
 */
.facts-overlay {
  /* 1 */
  opacity: 0.85; }
  .theme-icu .facts-overlay {
    background-color: #008ab0; }
  .theme-pharmacy-services .facts-overlay {
    background-color: #00529B; }
  .theme-surgical-theater .facts-overlay {
    background-color: #00746C; }

.facts-overlay:after {
  content: " ";
  position: absolute;
  width: 7.03125rem;
  height: 12.03125rem;
  top: 0;
  right: 0;
  z-index: -1;
  transform-origin: bottom left;
  transform: skew(-10deg, 0deg); }
  .theme-icu .facts-overlay:after {
    background-color: #008ab0; }
  .theme-pharmacy-services .facts-overlay:after {
    background-color: #00529B; }
  .theme-surgical-theater .facts-overlay:after {
    background-color: #00746C; }

.facts-outer {
  position: relative; }

.page .fact {
  position: absolute;
  top: 12.375rem;
  left: 2.21875rem;
  width: 100% !important;
  height: 9.375rem;
  padding: 1.5625rem 1.8125rem;
  background-color: transparent !important;
  color: white;
  z-index: 1;
  overflow: hidden; }
  .page .fact h3,
  .page .fact h2,
  .page .fact p {
    width: 21.875rem; }
  .page .fact.with-image p {
    width: 26.5625rem; }
  .page .fact h1 {
    font-family: 'Rockwell MT Light', serif;
    font-weight: 200;
    font-size: 4.0625rem;
    line-height: 1; }
  .page .fact h2 {
    font-family: 'Rockwell MT', serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 1.4375rem;
    line-height: 1.98438rem; }
  .page .fact h3 {
    font-family: 'Rockwell MT Light', serif;
    font-weight: 200;
    font-size: 1.4375rem;
    line-height: 1.98438rem; }
  .page .fact p {
    margin-top: 1.875rem;
    font-family: "Frutiger LT Std", serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.19531rem;
    letter-spacing: 1px; }
  .page .fact h2 + p,
  .page .fact h3 + p,
  .page .fact h1 + p {
    margin-top: 0.42188rem; }
  .page .fact figure {
    display: flex;
    align-items: center;
    float: left;
    width: 6.5625rem;
    height: 8.6875rem;
    margin-right: 1.25rem;
    overflow: hidden; }
    .page .fact figure img {
      float: left;
      max-width: 100%;
      max-height: 100%; }

#fact-nav {
  position: absolute;
  bottom: 1.15rem;
  right: 1.15rem;
  z-index: 5;
  list-style-type: none; }
  #fact-nav li {
    float: left;
    margin-right: 0.46875rem;
    border-radius: 50%;
    background-color: #c6c8ca;
    width: 0.46875rem;
    height: 0.46875rem; }
  #fact-nav .active-slide {
    background-color: white; }

.jump-start {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 77%;
  left: 32%;
  width: 7.1875rem;
  height: 2.03125rem;
  line-height: 2.03125rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "Frutiger LT Std", serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  color: white;
  z-index: 2; }
  .theme-icu .jump-start {
    background-color: rgba(0, 138, 176, 0.85); }
  .theme-pharmacy-services .jump-start {
    background-color: rgba(0, 82, 155, 0.85); }
  .theme-surgical-theater .jump-start {
    background-color: rgba(0, 116, 108, 0.85); }
  .jump-start svg {
    width: 1.39063rem;
    fill: white;
    margin-left: 1.09375rem;
    margin-top: -0.23438rem; }

.jump-nav {
  position: fixed;
  z-index: 2; }

.next-section {
  bottom: 10%;
  left: 33.5%;
  transform: translate(-50%, -50%);
  opacity: 0; }
  .next-section .next,
  .next-section .previous {
    background-color: transparent;
    border: none;
    outline: none;
    transition: opacity 0.5s ease-in-out;
    padding: 0.07813rem; }
    .next-section .next.show,
    .next-section .previous.show {
      opacity: 1; }
    .next-section .next svg,
    .next-section .previous svg {
      fill: #005299;
      width: 1.32813rem;
      height: 0.92188rem; }
    .next-section .next.previous,
    .next-section .previous.previous {
      margin-right: 1.8125rem; }
      .next-section .next.previous svg,
      .next-section .previous.previous svg {
        transform: rotate(180deg); }
    .next-section .next:disabled svg,
    .next-section .previous:disabled svg {
      opacity: 0.3; }

.main-sections {
  width: 68%;
  height: 2.96875rem;
  background-color: transparent;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: -1%;
  z-index: 3; }

.main-sections .section-shell {
  line-height: 2.96875rem;
  margin-right: 1px;
  transition: background-color .25s ease-in-out;
  text-transform: uppercase;
  outline: 1px solid transparent;
  transform-origin: bottom left;
  transform: skew(-10deg, 0deg);
  z-index: 2; }
  .theme-icu .main-sections .section-shell {
    background-color: #008ab0; }
  .theme-pharmacy-services .main-sections .section-shell {
    background-color: #00529B; }
  .theme-surgical-theater .main-sections .section-shell {
    background-color: #00746C; }

.main-sections .section-shell.selected {
  transition: background-color .25s ease-in-out;
  background-color: white; }

.main-sections .main-section-button-selected span {
  transition: color .25s ease-in-out; }
  .theme-icu .main-sections .main-section-button-selected span {
    color: #008ab0; }
  .theme-pharmacy-services .main-sections .main-section-button-selected span {
    color: #00529B; }
  .theme-surgical-theater .main-sections .main-section-button-selected span {
    color: #00746C; }

.main-sections button {
  z-index: 3;
  background-color: transparent;
  outline: none;
  border: none; }

.main-sections span {
  color: white;
  text-transform: uppercase;
  z-index: 3;
  font-size: 0.8125rem;
  line-height: 1.09375rem; }

.main-sections button:nth-of-type(1),
.main-sections .section-shell:first-child {
  position: absolute;
  width: 33.3333333%;
  height: 100%;
  top: 0;
  left: 0; }

.main-sections button:nth-of-type(2),
.main-sections button:nth-of-type(3),
.main-sections .section-shell:nth-of-type(2),
.main-sections .section-shell:nth-of-type(3) {
  position: absolute;
  width: 33.3333333%;
  height: 100%;
  top: 0;
  left: 33.5%; }

.main-sections button:nth-of-type(3),
.main-sections .section-shell:nth-of-type(3) {
  left: 67%; }

.sticky {
  position: fixed; }
  .sticky.bottom {
    bottom: 0; }

#footer {
  display: flex; }

.page-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  /* added */
  opacity: 0; }

.open {
  opacity: 1; }

.page {
  position: relative;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  /* added */
  height: 100vw;
  background-color: #dee0e2; }
  .page h2,
  .page h3 {
    font-family: "Frutiger LT Std", serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700; }

.page.transparent {
  transition: 'background-color', 0.8s;
  background-color: transparent; }

/*
* 1.Give the attract page a different color for seamless video load
*/
.page#attract {
  height: auto;
  padding: 0;
  /*1*/ }
  .theme-icu .page#attract {
    background-color: #008ab0; }
  .theme-pharmacy-services .page#attract {
    background-color: #00529B; }
  .theme-surgical-theater .page#attract {
    background-color: #00746C; }

.subpage {
  width: 100vw;
  height: 100vh;
  padding-top: 3.21rem;
  padding-top: 2.96875rem;
  max-width: 100%;
  /* added */
  z-index: 0;
  opacity: 0;
  position: absolute; }

.visible {
  opacity: 1; }

.subpage.visible {
  z-index: 1; }

.subpage-header .breadcrumb {
  position: fixed;
  top: 2.96875rem;
  left: 0;
  width: 100vw;
  height: 2.96875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.21875rem;
  padding-right: 2.21875rem;
  color: white;
  z-index: 9;
  opacity: 0; }
  .theme-icu .subpage-header .breadcrumb {
    background-color: #008ab0; }
  .theme-pharmacy-services .subpage-header .breadcrumb {
    background-color: #00529B; }
  .theme-surgical-theater .subpage-header .breadcrumb {
    background-color: #00746C; }
  .subpage-header .breadcrumb h2 {
    font-family: "Frutiger LT Std", serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.2; }
  .subpage-header .breadcrumb h3 {
    position: absolute;
    left: 11.54688rem;
    font-family: 'Rockwell MT', serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 1.125rem;
    line-height: 1.2;
    opacity: 0;
    transition: opacity 0.5s; }
  @media (min-width: 3840px) {
    .subpage-header .breadcrumb h3 {
      left: 11.54688rem; } }

.theme-pharmacy-services .subpage-header .breadcrumb {
  background-color: #00295c; }

.subpage-header-container .subpage-description,
.subpage-header .subpage-description {
  position: fixed;
  top: 5.9375rem;
  left: 0;
  width: 100vw;
  height: 3.90625rem;
  z-index: 8;
  opacity: 0; }

.subpage-header .subpage-description {
  background-color: transparent;
  display: flex;
  align-items: center;
  background-color: white;
  font-family: 'Rockwell MT', serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 0.625rem; }
  .theme-icu .subpage-header .subpage-description {
    color: #005299; }
  .theme-pharmacy-services .subpage-header .subpage-description {
    color: #00295c; }
  .theme-surgical-theater .subpage-header .subpage-description {
    color: #00295c; }
  .subpage-header .subpage-description p {
    max-width: 25.78125rem;
    margin-left: 11.54688rem;
    line-height: 1.4;
    transition: opacity 0.3s;
    opacity: 0; }

.visible .subpage-header .subpage-description p,
.visible .subpage-header .breadcrumb h3 {
  opacity: 1; }

#subpage-pager {
  position: absolute;
  top: 10rem;
  left: 2rem;
  width: 2rem;
  height: 2rem; }

.content, .sections {
  float: left; }

.content.accordion {
  max-width: 27.5rem;
  max-height: 12.03125rem;
  overflow: hidden;
  margin-top: 3.44219rem;
  margin-left: 6.88438rem; }

.featured-area {
  position: fixed;
  top: 3.9375rem;
  right: 0;
  overflow: hidden;
  float: right;
  width: 32.7%;
  height: 100%;
  margin-top: -3.90625rem;
  transform-origin: bottom left;
  transform: skew(-10deg, 0deg);
  z-index: 8; }

.featured-area img {
  position: absolute;
  top: 5.90625rem;
  left: -2.5rem;
  transform: skew(10deg, 0deg); }

#attract.featured-area {
  display: none; }

@media (min-width: 3840px) {
  .featured-area {
    width: 32.7%; } }

/**
 * Subpage Layouts
 */
.subpage-content {
  position: relative;
  width: 66.5%;
  overflow: hidden; }

.subpage-content + div.l-slide_up_cards {
  margin-left: 2.5rem; }

.l-slide_up_cards {
  height: 12.65625rem;
  margin-top: 10.25rem;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .l-slide_up_cards.three-columns article {
    width: calc(33.33333% - 40px); }
  .l-slide_up_cards.four-columns article {
    width: calc(25% - 40px); }
  .l-slide_up_cards article {
    position: relative;
    overflow: hidden;
    border: none; }
    .l-slide_up_cards article img {
      position: absolute;
      top: 0;
      left: 0.5px;
      width: 100%;
      z-index: 1; }
    .l-slide_up_cards article .hidden-content {
      position: relative;
      display: block;
      transform: translateY(calc(100% - 2.5rem));
      width: 100%;
      height: 100%;
      padding-bottom: 2.5rem;
      z-index: 2;
      background-color: #eef0f3;
      transform: translateY(calc(100% - 2.5rem));
      transform-origin: top;
      animation-name: slide_down;
      animation-duration: 150ms;
      animation-timing-function: ease-in;
      will-change: transform; }
    .l-slide_up_cards article .scroll-container {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow-y: scroll; }
    .l-slide_up_cards article .scroll-area {
      background-color: #eef0f3;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;
      z-index: 0; }
      .l-slide_up_cards article .scroll-area svg {
        position: absolute;
        top: 1.25rem;
        line-height: 2.5rem;
        fill: #979797;
        width: 0.73906rem;
        height: 0.49062rem; }
        .l-slide_up_cards article .scroll-area svg.up {
          right: 3rem;
          transform: rotate(180deg); }
        .l-slide_up_cards article .scroll-area svg.down {
          right: 1.25rem; }
    .l-slide_up_cards article .slide-control {
      visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0; }
    .l-slide_up_cards article .hidden-content.up {
      transform: translateY(0);
      transform-origin: bottom;
      animation-name: slide_up;
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(0.42, 0, 0.35, 0.99);
      will-change: transform; }

@keyframes slide_up {
  0% {
    transform: translateY(calc(100% - 2.5rem)); }
  100% {
    transform: translateY(0); } }

@keyframes slide_down {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(calc(100% - 2.5rem)); } }
    .l-slide_up_cards article .slide-control:checked ~ .scroll-area {
      z-index: 2; }
    .l-slide_up_cards article h2 {
      position: relative;
      width: 100%;
      height: 2.5rem;
      line-height: 1.1;
      color: white;
      text-align: left;
      font-family: 'Rockwell MT', serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.59375rem;
      z-index: 2; }
      .theme-icu .l-slide_up_cards article h2 {
        background-color: rgba(0, 138, 176, 0.85); }
      .theme-pharmacy-services .l-slide_up_cards article h2 {
        background-color: rgba(0, 82, 155, 0.85); }
      .theme-surgical-theater .l-slide_up_cards article h2 {
        background-color: rgba(0, 116, 108, 0.85); }
      .l-slide_up_cards article h2 label {
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 0.625rem; }
        .l-slide_up_cards article h2 label svg {
          position: absolute;
          bottom: 0.3125rem;
          right: 0.3125rem;
          width: 0.6875rem;
          height: 0.6875rem;
          fill: white; }
    .l-slide_up_cards article .text {
      position: relative;
      font-family: "Frutiger LT Std", serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.4375rem;
      line-height: 1.4;
      padding: 0.78125rem;
      min-height: calc(810px - 2.5rem);
      overflow-y: scroll; }

.l-slide_left_cards {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  padding: 0; }
  .l-slide_left_cards article {
    position: relative;
    width: 27.5rem;
    height: 6.875rem;
    margin-top: 10px;
    margin-left: 6.875rem;
    margin-bottom: 0.625rem;
    overflow: hidden; }
    .theme-icu .l-slide_left_cards article {
      background-color: #008ab0; }
    .theme-pharmacy-services .l-slide_left_cards article {
      background-color: #00529B; }
    .theme-surgical-theater .l-slide_left_cards article {
      background-color: #00746C; }
    .l-slide_left_cards article h2 {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2; }
      .l-slide_left_cards article h2 span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 6.875rem;
        padding: 0 1.42188rem;
        color: white;
        text-align: left;
        font-size: 0.625rem;
        font-family: 'Rockwell MT', serif;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal; }
        .theme-icu .l-slide_left_cards article h2 span {
          background-color: rgba(0, 138, 176, 0.6); }
        .theme-pharmacy-services .l-slide_left_cards article h2 span {
          background-color: rgba(0, 82, 155, 0.6); }
        .theme-surgical-theater .l-slide_left_cards article h2 span {
          background-color: rgba(0, 116, 108, 0.6); }
    .l-slide_left_cards article .hidden-content {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: calc(27.5rem - 3.125rem);
      width: calc(100% + 3.125rem);
      height: 100%;
      z-index: 2;
      background-color: #eef0f3; }
      .l-slide_left_cards article .hidden-content .slide-control {
        display: flex;
        float: left;
        display: block;
        height: 100%;
        line-height: 6.875rem;
        width: 3.125rem;
        font-size: 1.40625rem;
        text-align: center; }
        .theme-icu .l-slide_left_cards article .hidden-content .slide-control {
          color: #008ab0; }
        .theme-pharmacy-services .l-slide_left_cards article .hidden-content .slide-control {
          color: #00529B; }
        .theme-surgical-theater .l-slide_left_cards article .hidden-content .slide-control {
          color: #00746C; }
      .l-slide_left_cards article .hidden-content .to-reveal {
        float: left;
        width: 27.5rem;
        height: 100%;
        z-index: 2; }
        .l-slide_left_cards article .hidden-content .to-reveal img {
          float: left;
          max-height: 6.875rem;
          z-index: 1; }
        .l-slide_left_cards article .hidden-content .to-reveal .text {
          float: left;
          overflow: hidden;
          font-size: 0.625rem;
          padding: 0.78125rem;
          background-color: #eef0f3;
          max-width: 60%;
          z-index: 1; }
          .l-slide_left_cards article .hidden-content .to-reveal .text h3 {
            margin-bottom: 0.375rem;
            font-family: 'Rockwell MT', serif;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            font-size: 0.625rem;
            line-height: 1.2; }
            .theme-icu .l-slide_left_cards article .hidden-content .to-reveal .text h3 {
              color: #005299; }
            .theme-pharmacy-services .l-slide_left_cards article .hidden-content .to-reveal .text h3 {
              color: #00295c; }
            .theme-surgical-theater .l-slide_left_cards article .hidden-content .to-reveal .text h3 {
              color: #00295c; }
          .l-slide_left_cards article .hidden-content .to-reveal .text p {
            font-size: 0.4375rem;
            line-height: 1.2; }

.l-9_box_grid {
  width: 27.8125rem;
  margin-top: 7.8rem;
  margin-left: 6.875rem;
  overflow: hidden; }
  .l-9_box_grid article {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.95313rem;
    height: 5.45313rem;
    margin-bottom: 0.3125rem;
    margin-right: 0.3125rem;
    font-size: 0.3125rem; }
    .l-9_box_grid article.static {
      background-color: #eef0f3; }
    .l-9_box_grid article .slide-control {
      display: none; }
    .l-9_box_grid article .slide-control:checked ~ .hidden-content {
      display: block;
      z-index: 3; }
    .l-9_box_grid article h2 {
      text-align: center;
      line-height: 1.2;
      z-index: 2; }
      .l-9_box_grid article h2 span {
        font-family: 'Rockwell MT', serif;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        font-size: 0.625rem;
        color: white; }
      .l-9_box_grid article h2 label {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white; }
        .theme-icu .l-9_box_grid article h2 label {
          background-color: rgba(0, 138, 176, 0.85); }
        .theme-pharmacy-services .l-9_box_grid article h2 label {
          background-color: rgba(0, 82, 155, 0.85); }
        .theme-surgical-theater .l-9_box_grid article h2 label {
          background-color: rgba(0, 116, 108, 0.85); }
        .l-9_box_grid article h2 label svg {
          position: absolute;
          bottom: 0.32813rem;
          right: 0.32813rem;
          fill: white;
          width: 0.75rem;
          height: 0.75rem; }
    .l-9_box_grid article .hidden-content {
      display: none;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 8.95313rem;
      height: 5.45313rem;
      z-index: 1;
      background-color: #eef0f3; }
      .l-9_box_grid article .hidden-content .text {
        display: inline;
        float: left;
        overflow: hidden;
        font-size: 0.625rem;
        padding: 0.59375rem;
        background-color: #eef0f3; }
        .l-9_box_grid article .hidden-content .text h3 {
          margin-bottom: 0.3125rem;
          font-family: 'Rockwell MT', serif;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          font-size: 0.5625rem;
          line-height: 1;
          color: #00295c; }
        .l-9_box_grid article .hidden-content .text p {
          font-size: 0.4375rem;
          line-height: 1.4; }

.l-4_card_grid {
  width: 37.5rem;
  margin-top: 8.5rem;
  margin-left: 2.5rem;
  overflow: hidden; }
  .l-4_card_grid article {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    width: 18.125rem;
    height: 7.5rem;
    margin-bottom: 0.625rem;
    margin-right: 0.625rem; }
    .l-4_card_grid article:last-child {
      margin-right: 0; }
    .l-4_card_grid article figure {
      position: relative;
      width: 5.625rem;
      height: 7.5rem;
      background-color: transparent; }
      .l-4_card_grid article figure img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
    .l-4_card_grid article .text {
      background-color: #eef0f3;
      width: 12.5rem;
      overflow: hidden;
      font-size: 0.625rem;
      padding: 0.59375rem; }
      .l-4_card_grid article .text h2 {
        line-height: 1.2;
        font-family: 'Rockwell MT', serif;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        font-size: 0.625rem;
        margin-bottom: 0.3125rem; }
        .theme-icu .l-4_card_grid article .text h2 {
          color: #005299; }
        .theme-pharmacy-services .l-4_card_grid article .text h2 {
          color: #00295c; }
        .theme-surgical-theater .l-4_card_grid article .text h2 {
          color: #00295c; }
      .l-4_card_grid article .text p {
        font-size: 0.4375rem;
        line-height: 1.4; }

.l-services_list_columns {
  margin-top: 8.5rem;
  margin-left: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .l-services_list_columns .column {
    width: calc(25%);
    margin-right: 0.625rem; }
    .l-services_list_columns .column:first-child {
      width: calc(18%); }
    .l-services_list_columns .column:last-child {
      margin-right: 0; }
    .l-services_list_columns .column h2,
    .l-services_list_columns .column h3 {
      font-family: 'Rockwell MT', serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.625rem;
      margin-bottom: 0.25rem; }
      .theme-icu .l-services_list_columns .column h2, .theme-icu
      .l-services_list_columns .column h3 {
        color: #005299; }
      .theme-pharmacy-services .l-services_list_columns .column h2, .theme-pharmacy-services
      .l-services_list_columns .column h3 {
        color: #00295c; }
      .theme-surgical-theater .l-services_list_columns .column h2, .theme-surgical-theater
      .l-services_list_columns .column h3 {
        color: #00295c; }
    .l-services_list_columns .column p {
      font-family: "Frutiger LT Std", serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.4375rem;
      line-height: 1.2; }
    .l-services_list_columns .column .text {
      overflow: hidden;
      padding: 0.59375rem;
      background-color: #eef0f3;
      height: 15.21875rem; }

.accordion {
  width: 27.8125rem;
  margin-top: 8.5rem;
  margin-left: 6.875rem;
  margin-bottom: 1px;
  color: #fff;
  overflow: hidden; }
  .accordion .accordion-row {
    border-bottom: 1px solid white;
    /* :checked */
    /* Icon */ }
    .accordion .accordion-row input {
      position: absolute;
      opacity: 0;
      z-index: -1; }
    .accordion .accordion-row input:checked ~ .accordion-row__content {
      max-height: 6.84375rem; }
    .accordion .accordion-row label::after {
      position: absolute;
      left: 0.625rem;
      top: 0;
      display: block;
      width: 1rem;
      height: 2.03125rem;
      line-height: 2.03125rem;
      text-align: center;
      transition: all .35s;
      font-family: "Frutiger LT Std", serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 1.40625rem; }
    .accordion .accordion-row input[type=radio] + label::after {
      content: "+"; }
    .accordion .accordion-row input[type=radio]:checked + label::after {
      content: "-"; }
    .accordion .accordion-row label {
      position: relative;
      width: 100%;
      height: 2.03125rem;
      display: block;
      padding: 0.625rem;
      padding-left: 2.8125rem;
      cursor: pointer;
      font-family: 'Rockwell MT', serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.625rem; }
      .theme-icu .accordion .accordion-row label {
        background-color: #008ab0; }
      .theme-pharmacy-services .accordion .accordion-row label {
        background-color: #00529B; }
      .theme-surgical-theater .accordion .accordion-row label {
        background-color: #00746C; }
  .accordion .accordion-row__content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #eef0f3;
    transition: max-height .35s;
    color: #3b3b3b; }
    .accordion .accordion-row__content .heading {
      font-family: 'Rockwell MT', serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.625rem; }
    .accordion .accordion-row__content p {
      padding-top: 0.5625rem;
      padding-bottom: 0.5625rem;
      padding-left: 2.73438rem;
      font-family: "Frutiger LT Std", serif;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 0.4375rem;
      max-width: 80%; }

.l-video {
  position: relative;
  width: 26.25rem;
  height: 15rem;
  margin-top: 8.5rem;
  margin-left: 6.875rem;
  color: #fff;
  overflow: hidden; }
  .l-video video {
    z-index: 0; }
  .l-video .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 26.25rem;
    height: 15rem;
    background-color: white;
    -webkit-filter: blur(4.0625rem);
    z-index: 1;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s; }
    .l-video .video-overlay.hide {
      -webkit-filter: blur(0rem);
      opacity: 0;
      transition-property: opacity;
      transition-delay: 0.5s;
      transition-duration: 0.5s; }
  .l-video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer; }
    .l-video .play:focus {
      outline: none; }
    .l-video .play #play-button {
      width: 7.03125rem;
      height: 7.03125rem;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 0.5s; }
    .l-video .play.hide #play-button, .l-video .play.hide #play-button svg {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s; }

.theme-icu #wheel-svg {
  background-image: url("/components/media/images/ICU_Wheel.svg"); }

.theme-pharmacy-services #wheel-svg {
  background-image: url("/components/media/images/Pharmacy_Wheel.svg"); }

.theme-surgical-theater #wheel-svg {
  background-image: url("/components/media/images/Surgical_Wheel.svg"); }

.l-wheel {
  position: relative;
  width: 37.5rem;
  height: 16.25rem;
  margin-top: 8.5rem;
  margin-left: 2.5rem;
  overflow: hidden; }
  .l-wheel #wheel-svg {
    position: absolute;
    top: 11%;
    left: 33.7%;
    width: 11.875rem;
    height: 11.875rem;
    z-index: 2; }
    .l-wheel #wheel-svg .cls-9 {
      fill: #dee0e2; }
    .l-wheel #wheel-svg .cls-11 {
      fill: #eef0f3; }
    .theme-icu .l-wheel #wheel-svg .cls-15 {
      fill: #008ab0; }
    .theme-pharmacy-services .l-wheel #wheel-svg .cls-15 {
      fill: #00529B; }
    .theme-surgical-theater .l-wheel #wheel-svg .cls-15 {
      fill: #00746C; }
  .l-wheel article {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    width: 18.125rem;
    height: 7.5rem;
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
    background-color: #eef0f3; }
    .l-wheel article:last-child {
      margin-right: 0; }
    .l-wheel article:nth-child(3), .l-wheel article:nth-child(5) {
      padding-left: 4.6875rem; }
    .l-wheel article figure {
      width: 5.625rem;
      height: 7.5rem; }
      .theme-icu .l-wheel article figure {
        background-color: #008ab0; }
      .theme-pharmacy-services .l-wheel article figure {
        background-color: #00529B; }
      .theme-surgical-theater .l-wheel article figure {
        background-color: #00746C; }
      .l-wheel article figure img {
        margin: 0;
        width: 100%;
        height: 100%; }
    .l-wheel article .text {
      width: 12.5rem;
      overflow: hidden;
      font-size: 0.625rem;
      padding: 0.59375rem; }
      .l-wheel article .text h2 {
        line-height: 1.2;
        font-family: 'Rockwell MT', serif;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        font-size: 0.625rem;
        margin-bottom: 0.3125rem; }
        .theme-icu .l-wheel article .text h2 {
          color: #005299; }
        .theme-pharmacy-services .l-wheel article .text h2 {
          color: #00295c; }
        .theme-surgical-theater .l-wheel article .text h2 {
          color: #00295c; }
      .l-wheel article .text p {
        font-size: 0.4375rem;
        line-height: 1.4; }
